nav li{display: inline}
nav{background-color: black; text-align: center; padding:0.25px}
ul a:hover{
    color:cyan
}
nav li a{color: darkcyan}
input{border-radius: 10%;}
body{
    background-color: rgb(5, 78, 46);
    color: lightgrey;

}